*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inputSection {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    border: 3px solid grey;
    border-radius: 0.4rem;
}